* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

#map-canvas {
  position: absolute;
  top: 0;
  bottom: 44px;
  left: 0;
  right: 0;
}

#info-bar-container {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #333;
}

#info-bar {
  position: absolute;
  line-height: 44px;
  display: inline-block;
  font-size: 16px;
  color: #ddd;
  left: 0;
  right: 0;
  -webkit-text-shadow: #000 1px 1px 0;
  text-shadow: #000 1px 1px 0;
  overflow: hidden;
}

#userid {
  display: inline-block;
  overflow: hidden;
  width: 43px;
  border-right: 1px solid #999;
}

#menu-container {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  border-left: 1px solid #999;
}

#extras-icon {
  position: absolute;
  display: inline-block;
  width: 44px;
  height: 44px;
  top: 0;
  right: 0;
  background-image: url(../img/extras.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

#buddy-container {
  position: absolute;
  right: 44px;
  left: 44px;
  overflow: hidden;
  white-space: nowrap;
}

#buddies {
  display: inline-block;
  text-wrap: none;
}

.buddy {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 43px;
  border-right: 1px solid #666;
}

#extras {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 44px;
  height: 0;
  opacity: 0;
  background-color: rgba(204, 204, 204, 0.9);
  color: #222;
  -webkit-text-shadow: #fff 1px 1px 0;
  text-shadow: #fff 1px 1px 0;
  padding: 6px;
}

#avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #222;
  background-image: url(../img/default-avatar.png);
}

#avatar.over {
  background-image: none;
  background-color: #aaf815;
}

h1, h2, h3, p {
  -webkit-text-shadow: #eee 1px 1px 0;
  text-shadow: #eee 1px 1px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, tr {
  vertical-align: top;
  padding: 4px;
}

.barberpole {
  background-color: transparent;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 154, 26, 1) 25%, transparent 25%, transparent 50%, rgba(255, 154, 26, 1) 50%, rgba(255, 154, 26, 1) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 154, 26, 1) 25%, transparent 25%, transparent 50%, rgba(255, 154, 26, 1) 50%, rgba(255, 154, 26, 1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 154, 26, 1) 25%, transparent 25%, transparent 50%, rgba(255, 154, 26, 1) 50%, rgba(255, 154, 26, 1) 75%, transparent 75%, transparent);
  -webkit-background-size: 44px 44px;
  -moz-background-size: 44px 44px;
  -o-background-size: 44px 44px;
  background-size: 44px 44px;
  -webkit-box-shadow: inset 0 22px 0 rgba(255, 255, 255, .2);
  -moz-box-shadow: inset 0 22px 0 rgba(255, 255, 255, .2);
  -ms-box-shadow: inset 0 22px 0 rgba(255, 255, 255, .2);
  box-shadow: inset 0 22px 0 rgba(255, 255, 255, .2);
  -webkit-animation: move 0.5s linear infinite;
  -moz-animation: move 0.5s linear infinite;
  -o-animation: move 0.5s linear infinite;
  animation: move 0.5s linear infinite;
  background-position: 0 0;
}

@-webkit-keyframes move {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 44px 0;
  }
}

@-moz-keyframes move {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 44px 0;
  }
}

@-ms-keyframes move {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 44px 0;
  }
}

@keyframes move {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 44px 0;
  }
}


/* iPhone / iPod Touch */
@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
    font-family: Helvetica, Arial, Verdana, sans-serif;
  }
}
/* iPhone mit Retina Display */
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}
/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {
}
/* */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
}
